:root {
  --white: #ececec;
}

body {
  background: #0b0121;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed;
}

main {
  height: calc(100% - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(180deg, #5d21df00 0%, #47346f00 42%, #ffff 100%);
}

#navbar {
  display: flex;
  height: 4.5rem;
  padding: 0rem 9rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-logo-container > img {
  height: 1.2rem;
  width: 1.2rem;
}

.navbar-logo-container > p {
  font-family: Montserrat;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  color: var(--white);
}

.navbar-links-container {
  display: flex;
  gap: 1rem;
}

.navbar-links-container svg {
  position: relative;
  top: 2px;
  width: 64px;
}

.navbar-links-container a {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}

#sign-up {
  position: absolute;
  top: 70px;
  padding: 2rem 0rem;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  background: #0b0121;
  color: white;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transition: all .5s cubic-bezier(.17,.67,.83,.67);
  opacity:0;
  transform:translateY(-150%);
}

#sign-up.open {
  transform: translateY(0);
  opacity: 1;
}

#sign-up form {
  width:40%;
  position:relative;
}

#sign-up h2 {
  font-family: Montserrat;
  font-size: 2rem;
  text-align:center;
  margin:0;
}

#sign-up p {
  font-family: Montserrat;
  font-size:1.2rem;
  margin-left:10%;
  margin-right:10%;
}

#sign-up .mergeRow label {
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Montserrat;
  color: #ffffff91;
}

#sign-up .mergeRow input {
  border-radius: 30px;
  background: transparent;
  border: 1px solid #ffffff7d;
  padding: 0.8rem;
  width: 100%;
  outline: 0;
  color: white;
  font-size: 1rem;
}

#sign-up .mergeRow {
  position:relative;
}

#sign-up .submit_container input {
  position: absolute;
  top: 0;
  right: -30px;
  background: white;
  border: 0;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  padding: 0px 20px;
}


#sign-up .field-shift {
  left: -999999999px;
  position: absolute;
}

#hero h1 {
  color: var(--white);
  text-align: center;
  font-family: Montserrat;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 1rem;
  letter-spacing: 0.04rem;
}

#hero p {
  color: var(--white);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  max-width: 50rem;
  margin: auto;
}

#screen-images {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

#screen-images img {
  height: 85vh;
  position: absolute;
  bottom:-10vw;
}

#screen-images .slide-up-out {
  opacity: 0;
  animation-direction: normal;
  animation-play-state: running;
}

#screen-images .slide-up-in {
  opacity: 1;
  animation-direction: normal;
  animation-play-state: running;
}

#screen-home {
  animation-name: fade-out-up;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
  animation-play-state: paused;
}

#screen-ai {
  opacity: 0;
  animation-name: fade-in-up;
  animation-direction: reverse;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
  animation-play-state: paused;
}

#starfield {
  height: 60vh;
  width: 100vw;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#floating-social-button {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  background-color: #0b0121;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: background-color 500ms;
}

#floating-social-button:hover {
  background-color: #0b0121cc;
}

#floating-social-button img {
  height: 50%;
  max-width: 50%;
  filter: invert(1);
}

@keyframes fade-out-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -101%) scale(0.8);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0.8;
    transform: translate(0, 110%) scale(1.3);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@media screen and (max-height: 950px) {
  #screen-images img {
    height: 85vh;
  }
}

@media screen and (max-width:1600px) {
  #screen-images img {
    height: unset;
    max-height: 75%;
    max-width:100%;
  }
}

@media screen and (max-width: 1200px) {
  #screen-images img {
    height: unset;
    max-height: 65%;
    max-width: 100%;
  }
}

@media screen and (max-width: 750px) {
  body {
    background: url("imgs/image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  #sign-up form {
    width: 75%;
    position: relative;
  }

  #sign-up {
    background: transparent;
    padding:0.5rem 0rem;
  }

  #screen-images {
    display: none;
  }

  #starfield {
    display: none;
  }

  main {
    justify-content: center;
    transform: translateY(0);
    transition: all .5s cubic-bezier(.17,.67,.83,.67);
    background-image:none;
  }

  main.open {
    transform: translateY(20%);
  }

  #hero {
    margin: 3rem;
  }

  #hero h1 {
    letter-spacing: unset;
    margin:0;
  }

  #navbar {
    display: flex;
    padding: 0rem 1rem;
  }
}
